@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}


.bg-text {
  line-height: 2;
  color: black;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  font-size: 160%;
}
.button {
height: 100%;
border-radius: 35px;
font-weight: bold;
display: inline-block;
vertical-align: top;
}


.submit {
  background-color: #87CEEB;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  font size: 10px;
}

.center {
position: relative;
top: 9%;
left: 32%;
}



.form {
  margin: 10px;
}

.section1 {
  margin-bottom: 60px;
}

.button {
  background-color: #828282;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  font size: 30px;
}

:root {
    --light-green: #afc97e;
    --green: #4f772d;
    --olive: #455624;
    --grey: #e5e5e5;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: var(--blue);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.7rem;
    padding: 0.9rem 3rem;
    background: var(--light-blue);
    color: #000;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn i {
    color: var(--blue);
    margin-right: 0.5rem;
}

.btn:hover {
    background-color: #000;
    color: var(--blue);
    font-weight: 600;
}

.btn:hover i {
    color: var(--blue);
}


.header {
    height: 9%; padding-top: 2rem 9%; margin-bottom: 3rem 9%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #87CEEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
  margin-left: 70px;
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
    -webkit-text-stroke: 0.05rem #000000;
}

.icons {
    opacity: .8;
}

.icons .icon {
    font-size: 2.8rem;
    margin-left: 2rem;
    color: #000;
    cursor: pointer;
}

.icons .cart-btn {
    cursor: pointer;
    margin-left: 6rem;
    border: .1rem solid #fff;
    padding: 2rem 0 1rem 1rem;
}

.icons .cart-btn h3 {
    color: #fff;
    cursor: pointer;
    margin-left: 0;
    display: inline-block;
    font-size: 2.5rem;
    border-right: .1rem solid #fff;
    padding-right: 0.5rem;
}

.icons .cart-btn .cart-total-quantity {
    color: #fff;
    font-size: 2.8rem;
    padding: .2rem 1rem;
    font-weight: 300;
}


/* favorite list */
.favorite-container {
    position: absolute;
    top: 10rem;
    right: -100rem;
    width: 40rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(135, 206, 235);
    opacity: 0;
    transition: all .5s ease-in-out;
}

#favorite-list-container {
    overflow-y: auto;
    max-height: 50rem;
}


#favorite-list-container::-webkit-scrollbar {
    width: 1rem;
}

#favorite-list-container::-webkit-scrollbar-track {
    background: var(--light-blue);
}

#favorite-list-container::-webkit-scrollbar-thumb {
    background: var(--blue);
}

.favorite-container .favorite-title {
    text-align: center;
    padding: 1rem 0;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
    font-size: 2.4rem;
    margin: 0 1rem;
}

.favorite-container .remove-all-btn {
    background: #fff;
    color: #000;
    margin: .5rem 1rem 1rem;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    padding: .8rem 1.25rem;
    border-radius: 1rem;
    cursor: pointer;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 1rem;
}

.favorite-container .remove-all-btn:hover {
    background: #000;
    color: var(--blue);
    font-weight: 600;
}

.favorite-container .empty-list {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
}

.favorite-container.active {
    right: 6rem;
    opacity: 1;
}

.favorite-container .favorite-list {
    border-bottom: .1rem solid rgba(0, 0, 0, 0.6);
    display: flex;
    margin: 0 1rem .5rem;
}

.favorite-container .favorite-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.favorite-container .favorite-box .image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.5rem;
    height: 7rem;
    border-radius: 1rem;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.favorite-container .favorite-box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.favorite-container .favorite-box .content {
    flex: 1;
}

.favorite-container .favorite-box .content .name {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.favorite-container .favorite-box .content .price {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.favorite-container .remove-from-favorite {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite-container .remove-from-favorite i {
    background: var(--grey);
    color: #000;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
}

.favorite-container .remove-from-favorite i:hover {
    background: #000;
    color: var(--blue);
}

/* products */


.products {
    padding: 12rem 15% 5rem;
}

.heading {
    font-size: 3.5rem;
    text-align: center;
    color: #000;
    padding-bottom: 2rem;
}

.heading span {
    color: var(--blue);
}


.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 2rem;
}

.products .box-container .box {
    overflow: hidden;
    position: relative;
    border: .1rem solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

.products .box-container .box .favorite {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #fff;
    cursor: pointer;
    -webkit-text-stroke: 0.1rem #000;
    font-size: 2.5rem;
}

.products .box-container .box .favorite.active {
    color: red;
    -webkit-text-stroke: 0.1rem red;
}

.products .box-container .box .image {
    height: 26rem;
    overflow: hidden;
    margin-bottom: 1.2rem;
}

.products .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.products .box-container .box .content {
    text-align: center;
    padding: .5rem 1rem 1rem;
}

.products .box-container .box .content span {
    font-size: 2.6rem;
    color: var(--green);
    font-weight: 300;
}

.products .box-container .box .content .price {
    padding: 1rem 0;
    color: #000;
    font-size: 2.2rem;
    font-weight: 600;
}

.products .box-container .box .content .description {
    font-size: 1.4rem;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.6);
}



.button {
  background-color: #828282;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  font size: 30px;
}

.submit {
  background-color: #5C4033;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  font size: 10px;
}


/* media queries */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 3rem 2rem;
    }

    .cart {
        flex-direction: column;
    }

    .cart .cart-summary {
        width: 60%;
    }

    .cart .cart-summary .box {
        padding: 1rem 3rem;
    }

    .cart .cart-summary .box .summary {
        font-size: 2.4rem;
    }

    .cart .cart-summary .box div {
        font-size: 1.8rem;
    }

    .cart .cart-summary .summary-total {
        font-size: 2.4rem;
    }

}

@media (max-width: 678px) {
    .favorite-container .remove-all-btn {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 1rem;
    }

    .products .box-container {
        grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    }
}

@media (max-width: 580px) {
    html {
        font-size: 50%;
    }

    .cart-item .item__info {
        flex-direction: column;
        align-items: start;
    }

    .cart-item .item__more-info {
        flex: 2;
    }

    .cart-header .cart-header__details {
        flex: 2;
    }

    .cart .cart-summary {
        width: 100%;
    }

    .favorite-container {
        width: 30rem;
    }

    .favorite-container .remove-from-favorite i {
        font-size: 1.5rem;
    }

}
